{% extends "base.html" %} {% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Facial Recognition Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
        {% endif %} {% endwith %}
		<form method="post" action="do_facialrecognition">
			<div class="field">
				<div id ="face-input">
                    <video id="video" autoplay></video>
					<canvas style="display: none;" id="canvas" name="image"></canvas>
					<input class="input is-large" type="hidden" id="image" name="image" value="" autofocus=""> 
                </div>
			</div>
			
			<button id="snap" class="button is-block is-info is-large is-fullwidth">Snap</button>
            <button type="submit" id="button" class="button is-block is-info is-large is-fullwidth">Login</button>
		</form>
		
			<script>
				// |streaming| indicates whether or not we're currently streaming
				// video from the camera. Obviously, we start at false.
				var streaming = false;
				var width =  200;
				var height = null;
				
				var video = document.getElementById('video');
				var canvas = document.getElementById('canvas');
				var image = document.getElementById('image');
				var snap = document.getElementById('snap');				
				
				function startup() {
					navigator.mediaDevices.getUserMedia({video: true, audio: false})
					.then(function(stream) {
					  video.srcObject = stream;
					  video.play();
					})
					.catch(function(err) {
					  console.log("An error occurred: " + err);
					});

					video.addEventListener('canplay', function(ev){
					  if (!streaming) {
						height = video.videoHeight / (video.videoWidth/width);
					  
						// Firefox currently has a bug where the height can't be read from
						// the video, so we will make assumptions if this happens.
						if (isNaN(height)) {
						  height = width / (4/3);
						}
					  
						video.setAttribute('width', width);
						video.setAttribute('height', height);
						canvas.setAttribute('width', width);
						canvas.setAttribute('height', height);
						streaming = true;
					  }
					}, false);
					
					snap.addEventListener('click', function(ev){
					  takepicture();
					  ev.preventDefault();
					}, false);
				  }
				  
				  function takepicture() {
					var context = canvas.getContext('2d');
					if (width && height) {
					  canvas.width = width;
					  canvas.height = height;
					  context.drawImage(video, 0, 0, width, height);
					
					  var data = canvas.toDataURL('image/png');
					  image.setAttribute('value', canvas.toDataURL());
					}
				  }
				  
				  // Set up our event listener to run the startup process
				  // once loading is complete.
				  window.addEventListener('load', startup, false);
			</script>
 
    </div>
</div>
{% endblock %}