{% extends "base.html" %} {% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
        </div>
        {% endif %} {% endwith %}
        <form>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" id="email1" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" id="name1" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" id="password1" name="password" placeholder="Password">
                </div>
            </div>
		</form>
			<div class="field">
				<div id ="face-input">
                    <video id="myVideo"  autoplay></video>
                </div>
			</div>
            <button id="button" class="button is-block is-info is-large is-fullwidth">Sign Up</button>

			<script>
				let v = document.getElementById("myVideo");
				let b = document.getElementById("button");
				//create a canvas to grab an image for upload
				let imageCanvas = document.createElement('canvas');
				let imageCtx = imageCanvas.getContext("2d");
		
				
				function postFile(file) {
					// get form data
					email = document.getElementById("email1").value
					pass = document.getElementById("password1").value
					name = document.getElementById("name1").value

					let formdata = new FormData();
					formdata.append("image", file);
					formdata.append("email", email);
					formdata.append("pass", pass);
					formdata.append("name", name);

					let xhr = new XMLHttpRequest();
					xhr.open('POST', 'http://localhost:5000/signup_user', true);
					 xhr.onload = function () {
						if (this.status === 200) {
							var data = JSON.parse(this.responseText);
							 if(data['registration'] == true){
								alert('Successful Registration!');
								window.location.href = "{{ url_for('auth.login')}}";
							}else if(data['duplicate'] == true){
								window.location.href = "{{ url_for('auth.signup')}}";
							}
						}
					};

					xhr.send(formdata);
				}
				function sendImagefromCanvas() {
				//Make sure the canvas is set to the current video size
				imageCanvas.width = v.videoWidth;
				imageCanvas.height = v.videoHeight;

				imageCtx.drawImage(v, 0, 0, v.videoWidth, v.videoHeight);

				//Convert the canvas to blob and post the file
				imageCanvas.toBlob(postFile, 'image/jpeg');
				}	
				
				 window.onload = function () {
					//Get camera video
					navigator.mediaDevices.getUserMedia({ video: { width: 1280, height: 720 }, audio: false })
						.then(stream => {
							v.srcObject = stream;
						})
						.catch(err => {
							console.log('navigator.getUserMedia error: ', err)
						});
				};
				 //Take a picture on click
				v.onclick = function () {
					console.log('click');
					sendImagefromCanvas();
				};
				//Take a picture on click
				b.onclick = function () {
					console.log('click');
					sendImagefromCanvas();
				};

			</script>
 
    </div>
</div>
{% endblock %}