{% extends "base.html" %}

{% block body %}


<div class="col-lg-12">
	<div id="login" class="mx-auto">
		<form method="post" action="login">
			<table>
				<tbody>
					<tr>
						<td><input class="form-control" type="text" name="email" placeholder="Email"></td>
					</tr>
					<tr>
						<td><input class="form-control" type="password" name="password" placeholder="Password"></td>
					</tr>
					<tr>
						<td><input id="loginButton" class="btn" type="submit" value="Log In"></td>
					</tr>
					<tr>
						<td><a class="nav-link" href="video_feed">Log in Via Camera</a></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>


{% endblock %}